{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>ORIGEM</title>

</head>

<body>

    <script>

        window.addEventListener(
            "load",
            function() {

                const link =
                    document.createElement("a");

                link.href =
                    "{% url 'download_memento' %}";

                link.download =
                    "memento_002.zip";

                document.body.appendChild(
                    link
                );

                link.click();

                link.remove();

            }
        );

    </script>

</body>

</html>